# 
Задание: данные из нескольких источников
Получите данные по безработице в Москве:
https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv
Объедините эти данные индексами (Месяц/Год) с данными из предыдущего задания (вызовы пожарных) для Центральный административный округ:
https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv
Найдите значение поля UnemployedMen в том месяце, когда было меньше всего вызовов в Центральном административном округе.
Значение поля UnemployedMen 13465

In [8]:
import pandas as pd
data_1 = pd.read_csv("https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv", delimiter=";", na_values="NaN")
data_2 = pd.read_csv("https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv", delimiter=";", na_values="NaN")
data_1.fillna(0, axis=1, inplace=True)
data_2.fillna(0, axis=1, inplace=True)
print(data_1)
print(data_2)
data = pd.merge(data_1, data_2, left_index=True, right_index=True)
print(data)

     global_id   ID  Year UnemployedMen UnemployedWomen UnemployedYoung  \
0     39809862    1  2001          8896           25762            6696
1     64592413    3  2003          8679           24967            6226
2     64592414    4  2004          9822           25239            7318
3     64592415    5  2005         10844           23597            6890
4     64592416    6  2006         11041           22928            6604
..         ...  ...   ...           ...             ...             ...
96   918869066  101  2019         13123           16904            3103
97   918869067  102  2019         13433           17164            3102
98   926094627  103  2019         13803           17319            3060
99   933200250  104  2019         12818           16221            2711
100  933200260  105  2019         12260           15769            2545

    UnemployedDisabled UnemployedTotal   Period Unnamed: 9
0                  824           34658  Декабрь          0
1                 1155           33646  Декабрь          0
2                 1411           35061  Декабрь          0
3                 1531           34441  Декабрь          0
4                 1671           33969  Декабрь          0
..                 ...             ...      ...        ...
96                 575           30027  Февраль          0
97                 593           30597     Март          0
98                 593           31122   Апрель          0
99                 577           29039      Май          0
100                576           28029     Июнь          0

[101 rows x 10 columns]
      ID                                            AdmArea  Year   global_id  \
0      1                 Центральный административный округ  2015    37153160
1      2                    Северный административный округ  2015    37153161
2      3            Северо-Восточный административный округ  2015    37153162
3      4                   Восточный административный округ  2015    37153163
4      5               Юго-Восточный административный округ  2015    37153164
..   ...                                                ...   ...         ...
622  623                   Восточный административный округ  2019  1011449880
623  624                       Южный административный округ  2019  1011449881
624  625                    Северный административный округ  2019  1011465183
625  626              Зеленоградский административный округ  2019  1011465249
626  627  Троицкий и Новомосковский административные округа  2019  1011465301

        Month Calls Unnamed: 6
0      Январь   408          0
1      Январь   408          0
2      Январь   445          0
3      Январь   619          0
4      Январь   541          0
..        ...   ...        ...
622  Сентябрь   782          0
623  Сентябрь   900          0
624  Сентябрь   644          0
625  Сентябрь   197          0
626  Сентябрь   451          0

[627 rows x 7 columns]
    global_id_x ID_x Year_x UnemployedMen UnemployedWomen UnemployedYoung  \
0      39809862    1   2001          8896           25762            6696
1      64592413    3   2003          8679           24967            6226
2      64592414    4   2004          9822           25239            7318
3      64592415    5   2005         10844           23597            6890
4      64592416    6   2006         11041           22928            6604
..          ...  ...    ...           ...             ...             ...
96    918869066  101   2019         13123           16904            3103
97    918869067  102   2019         13433           17164            3102
98    926094627  103   2019         13803           17319            3060
99    933200250  104   2019         12818           16221            2711
100   933200260  105   2019         12260           15769            2545

    UnemployedDisabled UnemployedTotal   Period Unnamed: 9 ID_y  \
0                  824           34658  Декабрь          0    1
1                 1155           33646  Декабрь          0    2
2                 1411           35061  Декабрь          0    3
3                 1531           34441  Декабрь          0    4
4                 1671           33969  Декабрь          0    5
..                 ...             ...      ...        ...  ...
96                 575           30027  Февраль          0   97
97                 593           30597     Март          0   98
98                 593           31122   Апрель          0   99
99                 577           29039      Май          0  100
100                576           28029     Июнь          0  101

                                               AdmArea Year_y global_id_y  \
0                   Центральный административный округ   2015    37153160
1                      Северный административный округ   2015    37153161
2              Северо-Восточный административный округ   2015    37153162
3                     Восточный административный округ   2015    37153163
4                 Юго-Восточный административный округ   2015    37153164
..                                                 ...    ...         ...
96              Северо-Западный административный округ   2015    37153257
97               Зеленоградский административный округ   2015    37153258
98   Троицкий и Новомосковский административные округа   2015    37153259
99                  Центральный административный округ   2015    37153260
100                    Северный административный округ   2015    37153261

        Month Calls Unnamed: 6
0      Январь   408          0
1      Январь   408          0
2      Январь   445          0
3      Январь   619          0
4      Январь   541          0
..        ...   ...        ...
96   Сентябрь   353          0
97   Сентябрь   111          0
98   Сентябрь   307          0
99    Октябрь   402          0
100   Октябрь   413          0

[101 rows x 17 columns]

# вариант ITTensive

In [19]:
import pandas as pd
data1 = pd.read_csv("https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv", delimiter=";")
data1 = data1.set_index(["Year","Period"])
data2 = pd.read_csv("https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv", delimiter=";")
data2 = data2.set_index(["AdmArea", "Year", "Month"])
data2 = data2.loc["Центральный административный округ"]
print(data2.head())
data2.index.names = ["Year","Period"]
print(data2.head())
data = pd.merge(data1, data2, left_index=True, right_index=True)
print(data.head())
data = data.reset_index() # сбрасываем прежние индексы, больше не нужны
data = data.set_index("Calls")
data = data.sort_index()
print(data.head())
print(data["UnemployedMen"][0:1]) # выведем значения серии UnemployedMen и сделаем срез по первое значение

              ID  global_id  Calls  Unnamed: 6
Year Month
2015 Январь    1   37153160    408         NaN
     Февраль  12   37153172    220         NaN
     Март     23   37153183    533         NaN
     Апрель   34   37153194    568         NaN
     Май      45   37153205    303         NaN
              ID  global_id  Calls  Unnamed: 6
Year Period
2015 Январь    1   37153160    408         NaN
     Февраль  12   37153172    220         NaN
     Март     23   37153183    533         NaN
     Апрель   34   37153194    568         NaN
     Май      45   37153205    303         NaN
              global_id_x  ID_x  UnemployedMen  UnemployedWomen  \
Year Period
2015 Январь     273573613    51          12233            17039
     Февраль    273573614    52          13465            18080
     Март       273573615    53          14253            18681
     Апрель     273573616    54          15159            19859
     Май        273573617    55          14873            19407

              UnemployedYoung  UnemployedDisabled  UnemployedTotal  \
Year Period
2015 Январь              4106                1001            29272
     Февраль             4645                1028            31545
     Март                5072                1014            32934
     Апрель              5385                1052            35018
     Май                 5131                1042            34280

              Unnamed: 9  ID_y  global_id_y  Calls  Unnamed: 6
Year Period
2015 Январь          NaN     1     37153160    408         NaN
     Февраль         NaN    12     37153172    220         NaN
     Март            NaN    23     37153183    533         NaN
     Апрель          NaN    34     37153194    568         NaN
     Май             NaN    45     37153205    303         NaN
       Year   Period  global_id_x  ID_x  UnemployedMen  UnemployedWomen  \
Calls
220    2015  Февраль    273573614    52          13465            18080
303    2015      Май    273573617    55          14873            19407
350    2015   Ноябрь    273573623    61          16688            22881
353    2016  Февраль    273573627    65          19819            25758
355    2017  Февраль    338496741    77          15459            19364

       UnemployedYoung  UnemployedDisabled  UnemployedTotal  Unnamed: 9  ID_y  \
Calls
220               4645                1028            31545         NaN    12
303               5131                1042            34280         NaN    45
350               6108                1055            39569         NaN   111
353               6859                1335            45577         NaN   144
355               4511                 980            34823         NaN   276

       global_id_y  Unnamed: 6
Calls
220       37153172         NaN
303       37153205         NaN
350       59487900         NaN
353       64364589         NaN
355      323477492         NaN
Calls
220    13465
Name: UnemployedMen, dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_18928\1708724503.py:16: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(data["UnemployedMen"][0:1]) # выведем значения серии UnemployedMen и сделаем срез по первое значение